name: Test on Ubuntu

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4  # Updated to use the latest version

    - name: Set up Python 3.10
      uses: actions/setup-python@v4
      with:
        python-version: 3.10

    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y calibre ffmpeg espeak-ng
        pip install gradio bs4 pydub nltk beautifulsoup4 ebooklib tqdm
        python -m nltk.downloader punkt

    - name: Run Tests
      run: |
        python -m unittest discover tests

    - name: Run Gradio Interface (Optional)
      run: |
        python gradio_launch.py &
        sleep 5
        curl -I http://localhost:7860 || exit 1

    - name: Verify Lint (Optional)
      run: |
        pip install pylint
        pylint **/*.py
